# 忽略 node_modules
frontend/node_modules
frontend/dist
# frontend/public/images
# frontend/public/pdfs
# frontend/public/videos
myblogenv
__pycache__
**/__pycache__/
.env
.env.development
.env.production
uploads
ssl
keys
certs
!frontend/.env*
